<!DOCTYPE html>
<html>
  <head>
    <% include ../../partials/head %>
  </head>
  <body>
      <header>
        <% include ../../partials/header %>
      </header>
      <section id = "homeSection">
    <main>
        <div class="container-fluid">
          <%if (posts.length === 0) { %>
            <h3 class="text-center">No posts created yet.</h3>
          <% } else { %>
            <table class="table table-borderless">
              <thead>
                <tr>
                  <th scope="col">Pictures</th>
                  <th scope="col">Item</th>
                  <th scope = "col">Description</th>
                  <th scope="col">Price</th>
                  <th scope="col">Actions</th>
                </tr>
              </thead>
              <tbody>
                  <% posts.forEach(function(post) { %>
                    <tr>
                      <td><img src="<%= post.img_urls[0] %>" alt="<%= post.title %> Thumbnail" class="img-thumbnail" style="max-width: 200px;"></td>
                      <td scope="row"><%= post.item %></td>
                      <td scope="row" style="max-width: 200px;"><%= post.description %></td>
                      <td>$<%= post.selling_price %></td>
                      <td>
                        <form action="/influencers/posts/<%= post.id %>/delete" method="post">
                          <a href="/influencers/posts/<%= post.id %>"><button type="button" class="btn btn-info btn-sm">View</button></a>
                          <a href="/influencers/posts/<%= post.id %>/edit"><button type="button" class="btn btn-secondary btn-sm">Edit</button></a>
                          <button type="submit" class="btn btn-danger btn-sm">Delete</button>
                        </form>
                      </td>
                    </tr>
                  <% }); %>
              </tbody>
            </table>
          <% } %>
        </div>
    </main>
      </section>
      
    <footer>
      <% include ../../partials/footer %>
    </footer>
  </body>
</html>
