<!DOCTYPE html>
<html>
  <head>
    <% include ../../partials/head %>
  </head>
  <body>
      <header>
        <% include ../../partials/header %>
      </header>
    <main>
        <div class="container-fluid">
            <h1><b>Brand:</b> <%= post.brand %></h1>
            <hr class = "my-4">
            
            <h4><b>Size:</b> <%= post.size %> </h4>
            <h4><b>Asking Price:</b> <%= post.selling_price %></h4>
            <h4><b>Original Price:</b> <%= post.original_price %></h4>
            <h4><b>Condition:</b> <%= post.condition %></h4>
            <h4><b>Description:</b> <%= post.description %></h4>

            <hr class = "my-4">
            


            Date posted: <%= post.date %>
        </div>
    </main>

    <footer>
      <% include ../../partials/footer %>
    </footer>
  </body>
</html>
