<!DOCTYPE html>
<html>
  <head>
    <% include ../../partials/head %>
  </head>
  <body>
      <header>
        <% include ../../partials/header %>
      </header>
    <main>
        <div class="container-fluid">
            <h3><b>Brand:</b> <%= post.brand %></h3>
            <hr class = "my-4">
            
            <tr>
            <% post.img_urls.forEach(function(pic) { %>
                <td><img src="<%= pic %>" alt="<%= post.title %> Thumbnail" class="img-thumbnail" style="max-width: 200px;"></td>
            <% }); %>
            </tr>

            <p>
              <b>Size:</b> <%= post.size %><br/>
              <b>Brand:</b> <%= post.brand %><br/>
              <b>Asking Price:</b> <%= post.selling_price %><br/>
              <b>Original Price:</b> <%= post.original_price %><br/>
              <b>Condition:</b> <%= post.condition %><br/>
              <%if (post.description.length !== 0) { %>
                <b>Description:</b> <%= post.description %>
              <% } %>
            </p>

            Date posted: <%= moment(post.date).format('M/D/YYYY') %>
        </div>
    </main>

    <footer>
      <% include ../../partials/footer %>
    </footer>
  </body>
</html>
