<!Doctype html>
<html>
    <head>
        <% include ../../partials/head %>
    </head>
    <body>
        <% include ../../partials/logo %>
        <div class='container col-5 mb-5'>
            <form id='signup-form' class='bg-grey' action='/influencers/signup' method='post'>
                <div class='form-group pt-3 pl-3 pr-3'>
                    <%- include('../../partials/input', {name: 'first_name', classes: 'form-control border-pink', type: 'text', id: '', placeholder: 'First Name *', min: '', max: '', required: true, value: ''}) %>
                </div>                
                <div class='form-group pl-3 pr-3'>
                    <%- include('../../partials/input', {name: 'email', classes: 'form-control border-pink', type: 'email', id: '', placeholder: 'Email *', min: '', max: '', required: true, value: ''}) %>
                </div>
                <div class="form-group pl-3 pr-3 mb-3">
                    <span id='showPassCheckbox' class='hover text-center align-middle mt-2 text-pink' style='position: absolute; right: 3em;' onclick='showPass()'>
                        Show
                    </span>
                    <%- include('../../partials/input', {name: 'password', classes: 'form-control border-pink', type: 'password', id: 'passField', placeholder: 'Password *', min: '6', max: '12', required: true, value: ''}) %> 
                    <small id="passHelp" class="form-text text-danger">Password must be 6-12 characters long and must contain at least one number and capital letter.</small>
                    <script>
                        // Must have script here or it will cause some issues. Hides password help during refresh.
                        $('#passHelp').hide();
                    </script>
                </div>
                <div class='form-group pl-3 pr-3'>
                    <%- include('../../partials/input', {name: 'dob', classes: 'form-control border-pink', type: 'month', id: '', placeholder: 'Date of Birth *', min: '', max: '', required: true, value: ''}) %>
                </div>
                <div class='form-group pl-3 pr-3'>
                    <%- include('../../partials/input', {name: 'instagram_handle', classes: 'form-control border-pink', type: 'text', id: '', placeholder: 'Instagram Handle *', min: '', max: '', required: true, value: ''}) %>
                </div>
                <div class='form-group pl-3 pr-3'>
                        <%- include('../../partials/input', {name: 'likeToKnowIt', classes: 'form-control border-pink', type: 'text', id: '', placeholder: 'Liketoknowit Profile URL', min: '', max: '', required: false, value: ''}) %>
                </div>
                
                <div class='form-group pl-3 pr-3'>
                    <%- include('../../partials/input', {name: 'blog', classes: 'form-control border-pink', type: 'text', id: '', placeholder: 'Blog', min: '', max: '', required: false, value: ''}) %>
                </div>
                <div class='form-group pl-3 pr-3'>
                        <%- include('../../partials/input', {name: 'zip', classes: 'form-control border-pink', type: 'number', id: '', placeholder: 'Zip Code *', min: '', max: '', required: true, value: ''}) %>
                    </div>
                <div class='form-group pl-3 pr-3'>
                     <%- include('../../partials/input', {name: 'paypal', classes: 'form-control border-pink', type: 'text', id: '', placeholder: 'Paypal Account *', min: '', max: '', required: true, value: ''}) %>
                </div>
                <div class='form-group form-inline pl-3 pr-3'>
                    <%- include('../../partials/input', {name: 'height_ft', classes: 'form-control col-6 border-pink', type: 'number', id: '', placeholder: 'Height (ft) *', min: '0', max: '', required: true, value: ''}) %>
                    <%- include('../../partials/input', {name: 'height_in', classes: 'form-control col-6 border-pink', type: 'number', id: '', placeholder: '(in) *', min: '0', max: '11', required: true, value: ''}) %>
                </div>
                <div class='form-group form-inline pl-3 pr-3'>
                    <select name='bust_cup' class='form-control col-sm-6 border-pink' required>
                            <%- include('../../partials/option', {value: 'Bust (cup) *', placeholder: 'Bust (cup) *', name: 'bust_cup', selected: false}) %>
                            <%- include('../../partials/option', {value: 'AA', placeholder: 'AA', name: 'bust_cup', selected: false}) %>
                            <%- include('../../partials/option', {value: 'A', placeholder: 'A', name: 'bust_cup', selected: false}) %>
                            <%- include('../../partials/option', {value: 'B', placeholder: 'B', name: 'bust_cup', selected: false}) %>
                            <%- include('../../partials/option', {value: 'C', placeholder: 'C', name: 'bust_cup', selected: false}) %>
                            <%- include('../../partials/option', {value: 'D', placeholder: 'D', name: 'bust_cup', selected: false}) %>
                            <%- include('../../partials/option', {value: 'E (DD)', placeholder: 'E (DD)', name: 'bust_cup', selected: false}) %>
                            <%- include('../../partials/option', {value: 'F (DDD)', placeholder: 'F (DDD)', name: 'bust_cup', selected: false}) %>
                            <%- include('../../partials/option', {value: 'G', placeholder: 'G', name: 'bust_cup', selected: false}) %>
                            <%- include('../../partials/option', {value: 'H', placeholder: 'H', name: 'bust_cup', selected: false}) %>
                            <%- include('../../partials/option', {value: 'I', placeholder: 'I', name: 'bust_cup', selected: false}) %>
                            <%- include('../../partials/option', {value: 'J', placeholder: 'J', name: 'bust_cup', selected: false}) %>
                            <%- include('../../partials/option', {value: 'K', placeholder: 'K', name: 'bust_cup', selected: false}) %>
                            <%- include('../../partials/option', {value: 'L', placeholder: 'L', name: 'bust_cup', selected: false}) %>
                            <%- include('../../partials/option', {value: 'M', placeholder: 'M', name: 'bust_cup', selected: false}) %>
                            <%- include('../../partials/option', {value: 'N', placeholder: 'N', name: 'bust_cup', selected: false}) %>
                            <%- include('../../partials/option', {value: 'O', placeholder: 'O', name: 'bust_cup', selected: false}) %>
                    </select>
                    <select name='bust_band' class='form-control col-6 border-pink' required>
                            <%- include('../../partials/option', {value: 'Bust (band) *', placeholder: 'Bust (band) *', name: 'bust_band', selected: false}) %>
                            <%- include('../../partials/option', {value: '28', placeholder: '28', name: 'bust_band', selected: false}) %>
                            <%- include('../../partials/option', {value: '30', placeholder: '32', name: 'bust_band', selected: false}) %>
                            <%- include('../../partials/option', {value: '34', placeholder: '34', name: 'bust_band', selected: false}) %>
                            <%- include('../../partials/option', {value: '36', placeholder: '36', name: 'bust_band', selected: false}) %>
                            <%- include('../../partials/option', {value: '38', placeholder: '38', name: 'bust_band', selected: false}) %>
                            <%- include('../../partials/option', {value: '40', placeholder: '40', name: 'bust_band', selected: false}) %>
                            <%- include('../../partials/option', {value: '42', placeholder: '42', name: 'bust_band', selected: false}) %>
                            <%- include('../../partials/option', {value: '44', placeholder: '44', name: 'bust_band', selected: false}) %>
                            <%- include('../../partials/option', {value: '46', placeholder: '46', name: 'bust_band', selected: false}) %>
                            <%- include('../../partials/option', {value: '48', placeholder: '48', name: 'bust_band', selected: false}) %>
                            <%- include('../../partials/option', {value: '50', placeholder: '50', name: 'bust_band', selected: false}) %>
                            <%- include('../../partials/option', {value: '52', placeholder: '52', name: 'bust_band', selected: false}) %>
                            <%- include('../../partials/option', {value: '54', placeholder: '54', name: 'bust_band', selected: false}) %>
                            <%- include('../../partials/option', {value: '56', placeholder: '56', name: 'bust_band', selected: false}) %>
                            <%- include('../../partials/option', {value: '58', placeholder: '58', name: 'bust_band', selected: false}) %>
                            <%- include('../../partials/option', {value: '60', placeholder: '60', name: 'bust_band', selected: false}) %>
                        </select>
                </div>
                <div class='form-group pl-3 pr-3'>
                    <%- include('../../partials/input', {name: 'waist', classes: 'form-control border-pink', type: 'number', id: '', placeholder: 'Natural Waist (in) *', min: '0', max: '', required: true, value: ''}) %>
                </div>
                <div class='form-group pl-3 pr-3'>
                    <select name='shirt_size' class='form-control border-pink' rqeuired>
                        <%- include('../../partials/option', {value: 'Usual Jean Size *', placeholder: 'Usual Shirt Size *', name: 'shirt_size', selected: false}) %>
                        <%- include('../../partials/option', {value: 'XS', placeholder: 'XS', name: 'shirt_size', selected: false}) %>
                        <%- include('../../partials/option', {value: 'S', placeholder: 'S', name: 'shirt_size', selected: false}) %>
                        <%- include('../../partials/option', {value: 'M', placeholder: 'M', name: 'shirt_size', selected: false}) %>
                        <%- include('../../partials/option', {value: 'L', placeholder: 'L', name: 'shirt_size', selected: false}) %>
                        <%- include('../../partials/option', {value: 'XL', placeholder: 'XL', name: 'shirt_size', selected: false}) %>
                        <%- include('../../partials/option', {value: 'XXL', placeholder: 'XXL', name: 'shirt_size', selected: false}) %>
                        <%- include('../../partials/option', {value: 'XXXL', placeholder: 'XXXL', name: 'shirt_size', selected: false}) %>
                        
                    </select>
                </div>
                <div class='form-group pl-3 pr-3'>
                    <select name='jean_size' class='form-control border-pink' required>
                        <%- include('../../partials/option', {value: 'Usual Jean Size *', placeholder: 'Usual Jean Size *', name: 'jean_size', selected: false}) %>
                        <%- include('../../partials/option', {value: '24', placeholder: '24', name: 'jean_size', selected: false}) %>
                        <%- include('../../partials/option', {value: '25', placeholder: '25', name: 'jean_size', selected: false}) %>
                        <%- include('../../partials/option', {value: '26', placeholder: '26', name: 'jean_size', selected: false}) %>
                        <%- include('../../partials/option', {value: '27', placeholder: '27', name: 'jean_size', selected: false}) %>
                        <%- include('../../partials/option', {value: '28', placeholder: '28', name: 'jean_size', selected: false}) %>
                        <%- include('../../partials/option', {value: '29', placeholder: '29', name: 'jean_size', selected: false}) %>
                        <%- include('../../partials/option', {value: '30', placeholder: '30', name: 'jean_size', selected: false}) %>
                        <%- include('../../partials/option', {value: '31', placeholder: '31', name: 'jean_size', selected: false}) %>
                        <%- include('../../partials/option', {value: '32', placeholder: '32', name: 'jean_size', selected: false}) %>
                        <%- include('../../partials/option', {value: '33', placeholder: '33', name: 'jean_size', selected: false}) %>
                        <%- include('../../partials/option', {value: '34', placeholder: '34', name: 'jean_size', selected: false}) %>
                        <%- include('../../partials/option', {value: '14 (Plus)', placeholder: '14 (Plus)', name: 'jean_size', selected: false}) %>
                        <%- include('../../partials/option', {value: '16 (Plus)', placeholder: '16 (Plus)', name: 'jean_size', selected: false}) %>
                        <%- include('../../partials/option', {value: '18 (Plus)', placeholder: '18 (Plus)', name: 'jean_size', selected: false}) %>
                        <%- include('../../partials/option', {value: '20 (Plus)', placeholder: '20 (Plus)', name: 'jean_size', selected: false}) %>
                        <%- include('../../partials/option', {value: '22 (Plus)', placeholder: '22 (Plus)', name: 'jean_size', selected: false}) %>
                        <%- include('../../partials/option', {value: '24 (Plus)', placeholder: '24 (Plus)', name: 'jean_size', selected: false}) %>
                        <%- include('../../partials/option', {value: '26 (Plus)', placeholder: '26 (Plus)', name: 'jean_size', selected: false}) %>
                        
                    </select>
                </div>
                <div class='form-group pl-3 pr-3'>
                        <select name='torso_length' class='form-control border-pink' rqeuired>
                                <%- include('../../partials/option', {value: 'Usual Torso Length *', placeholder: 'Usual Torso Length *', name: 'torso_length', selected: false}) %>                                
                            <%- include('../../partials/option', {value: 'Short', placeholder: 'Short', name: 'torso_length', selected: false}) %>
                            <%- include('../../partials/option', {value: 'Regular', placeholder: 'Regular', name: 'torso_length', selected: false}) %>
                            <%- include('../../partials/option', {value: 'Long', placeholder: 'Long', name: 'torso_length', selected: false}) %>
                        </select>
                </div>
                <div class='form-group pl-3 pr-3'>
                        <select name='leg_length' class='form-control border-pink' rqeuired>
                                <%- include('../../partials/option', {value: 'Usual Leg Length *', placeholder: 'Usual Leg Length *', name: 'leg_length', selected: false}) %>                                
                            <%- include('../../partials/option', {value: 'Petite', placeholder: 'Petite', name: 'leg_length', selected: false}) %>
                            <%- include('../../partials/option', {value: 'Regular', placeholder: 'Regular', name: 'leg_length', selected: false}) %>
                            <%- include('../../partials/option', {value: 'Tall', placeholder: 'Tall', name: 'leg_length', selected: false}) %>
                        </select>                
                </div>
                
                <div class='form-group bg-white' id = "end-signup">
                        <label class = "form-check-label text muted">
                                <button type="button" class="btn btn-pink btn-sm btn-block" onclick = "window.open('manual', '_blank')">Need help?</button>
                            </label>
                    <div class='form-check'>
                        <input class='form-check-input' type='checkbox' value='' id='validCheck' required>
                        <label class='form-check-label text-muted' for='validCheck'>
                            By using our services, you acknowledge that you have read, understood and agreed
                            to be bound by our <a href='http://www.fashionxproject.com/terms-of-service/' target='_blank'>
                            <u>Terms of Service</u></a>. By signing up, you agree to subscribe to our mailing list. 
                        </label>
                        
                    </div>
                </div>
                <div class='container text-center mb-4 bg-white ps-absolute'>
                    <button class='btn btn-pink btn-primary text-center' type='submit'>Sign Up</button>
                </div>
            </form>
        </div>

        <br/>

        <% include ../../partials/footer %>

        <script>
            // prevent highlighting of show/hide element in the password input 
            $('#showPassCheckbox').attr('unselectable', 'on').css('user-select', 'none').on('selectstart', false);
            // show or hide the password when the user clicks the show or hide element 
            function showPass(){
                var x = document.getElementById("passField");
                if (x.type === "password") {
                    x.type = "text";
                    $('#showPassCheckbox').text('Hide');
                    $('#showPassCheckbox').addClass('text-muted');
                } else {
                    x.type = "password";
                    $('#showPassCheckbox').text('Show');
                    $('#showPassCheckbox').removeClass('text-muted');
                }
            }
            // check if password is valid or not
            $('#passField').on('input', (evt) => {
                let value = $(evt.target).val();
                if (/(?=.*\d)(?=.*[A-Z]){6,12}/.test(value)) {
                    $('#passHelp').hide();
                } else if (value === '') {
                    $('#passHelp').hide();
                } else {
                    $('#passHelp').show();
                }
            });
        </script>
    </body>
</html>