<!Doctype html>
<html>
    <head>
        <% include ../../partials/head %>
    </head>
    <body>
        <% include ../../partials/logo %>


            <div class="container text-center monospace-font pb-3 mt-5">
                    <button type="button" class="btn btn-pink btn-lg btn-primary text-center">Upload Pic</button>
                </div>
                <form id='submit-pic-form' class='bg-grey' action='/influencers/submit' method='post'>
                <div class="container text-center monospace-font pb-3 mt-5">
                    <div class='form-group form-inline pl-3 pr-3'>
                        <select name='occasion' class='form-control col-sm-2 border-pink' required>
                            <%- include('../../partials/option', {value: 'Occasion *', placeholder: 'Occasion *', name: 'occasion'}) %>
                            <%- include('../../partials/option', {value: 'A', placeholder: 'A', name: 'occasion'}) %>
                            <%- include('../../partials/option', {value: 'B', placeholder: 'B', name: 'occasion'}) %>
                            <%- include('../../partials/option', {value: 'C', placeholder: 'C', name: 'occasion'}) %>
                        </select>
                    </div>
                
                <!-- first set-->
                
                <div class='form-group form-inline pl-3 pr-3'>
                    <select name='item' class='form-control col-sm-2 border-pink' required>
                        <%- include('../../partials/option', {value: 'Item *', placeholder: 'Item *', name: 'item'}) %>
                        <%- include('../../partials/option', {value: 'A', placeholder: 'A', name: 'item'}) %>
                        <%- include('../../partials/option', {value: 'B', placeholder: 'B', name: 'item'}) %>
                        <%- include('../../partials/option', {value: 'C', placeholder: 'C', name: 'item'}) %>
                    </select>
                    <%- include('../../partials/input', {name: 'size', classes: 'form-control border-pink', type: 'text', id: '', placeholder: 'Size *', min: '', max: '', required: true}) %>
                    <%- include('../../partials/input', {name: 'product_link', classes: 'form-control border-pink', type: 'text', id: '', placeholder: 'Product Link *', min: '', max: '', required: true}) %>
                    
                    <select name='price' class='form-control col-2 border-pink' required>
                        <%- include('../../partials/option', {value: 'Price *', placeholder: 'Price *', name: 'price'}) %>
                        <%- include('../../partials/option', {value: 'Range A', placeholder: 'Range A', name: 'price'}) %>
                        <%- include('../../partials/option', {value: 'Range B', placeholder: 'Range B', name: 'price'}) %>
                        <%- include('../../partials/option', {value: 'Range C', placeholder: 'Range C', name: 'price'}) %>
                    </select>
                </div>
            
                <!-- second set-->

            
                
                <div class='form-group form-inline pl-3 pr-3'>
                    <select name='item' class='form-control col-sm-2 border-pink' required>
                        <%- include('../../partials/option', {value: 'Item *', placeholder: 'Item *', name: 'item'}) %>
                        <%- include('../../partials/option', {value: 'A', placeholder: 'A', name: 'item'}) %>
                        <%- include('../../partials/option', {value: 'B', placeholder: 'B', name: 'item'}) %>
                        <%- include('../../partials/option', {value: 'C', placeholder: 'C', name: 'item'}) %>
                    </select>
                    <%- include('../../partials/input', {name: 'size', classes: 'form-control border-pink', type: 'text', id: '', placeholder: 'Size *', min: '', max: '', required: true}) %>
                    <%- include('../../partials/input', {name: 'product_link', classes: 'form-control border-pink', type: 'text', id: '', placeholder: 'Product Link *', min: '', max: '', required: true}) %>
                    
                    <select name='price' class='form-control col-2 border-pink' required>
                        <%- include('../../partials/option', {value: 'Price *', placeholder: 'Price *', name: 'price'}) %>
                        <%- include('../../partials/option', {value: 'Range A', placeholder: 'Range A', name: 'price'}) %>
                        <%- include('../../partials/option', {value: 'Range B', placeholder: 'Range B', name: 'price'}) %>
                        <%- include('../../partials/option', {value: 'Range C', placeholder: 'Range C', name: 'price'}) %>
                    </select>
                </div>
            
                <!-- third set-->
                
                    
                    <div class='form-group form-inline pl-3 pr-3'>
                        <select name='item' class='form-control col-sm-2 border-pink' required>
                            <%- include('../../partials/option', {value: 'Item *', placeholder: 'Item *', name: 'item'}) %>
                            <%- include('../../partials/option', {value: 'A', placeholder: 'A', name: 'item'}) %>
                            <%- include('../../partials/option', {value: 'B', placeholder: 'B', name: 'item'}) %>
                            <%- include('../../partials/option', {value: 'C', placeholder: 'C', name: 'item'}) %>
                        </select>
                        <%- include('../../partials/input', {name: 'size', classes: 'form-control border-pink', type: 'text', id: '', placeholder: 'Size *', min: '', max: '', required: true}) %>
                        <%- include('../../partials/input', {name: 'product_link', classes: 'form-control border-pink', type: 'text', id: '', placeholder: 'Product Link *', min: '', max: '', required: true}) %>
                        
                        <select name='price' class='form-control col-2 border-pink' required>
                            <%- include('../../partials/option', {value: 'Price *', placeholder: 'Price *', name: 'price'}) %>
                            <%- include('../../partials/option', {value: 'Range A', placeholder: 'Range A', name: 'price'}) %>
                            <%- include('../../partials/option', {value: 'Range B', placeholder: 'Range B', name: 'price'}) %>
                            <%- include('../../partials/option', {value: 'Range C', placeholder: 'Range C', name: 'price'}) %>
                        </select>
                    </div>
                </form>

        <% include ../../partials/footer %>
    </body>
</html>
