<!Doctype html>
<html>
    <head>
        <% include ../../partials/head %>
    </head>
    <body>
        <% include ../../partials/header %>

        <form id='submit-pic-form' enctype='multipart/form-data' class='bg-grey' action='/influencers/submit' method='post'>
            <div class="container text-center monospace-font pb-3 mt-5">
                <!-- first set-->

                <div class='form-group form-inline pl-3 pr-3'>
                    
                    <%- include('../../partials/input', {name: 'item', classes: 'form-control border-pink', type: 'text', id: '', placeholder: 'Item *', min: '', max: '', required: true, value: ''}) %>
                            
                    <%- include('../../partials/input', {name: 'size', classes: 'form-control border-pink', type: 'text', id: '', placeholder: 'Size *', min: '', max: '', required: true, value: ''}) %>
                    <%- include('../../partials/input', {name: 'brand', classes: 'form-control border-pink', type: 'text', id: '', placeholder: 'Brand *', min: '', max: '', required: true, value: ''}) %>
                    <%- include('../../partials/input', {name: 'selling_price', classes: 'form-control border-pink', type: 'number', id: '', placeholder: 'Selling Price *', min: 0, max: '', required: true, value: ''}) %>
                    <%- include('../../partials/input', {name: 'original_price', classes: 'form-control border-pink', type: 'number', id: '', placeholder: 'Original Price *', min: 0, max: '', required: true, value: ''}) %>
                    
                    <select name='condition' class='form-control col-sm-2 border-pink' required>
                            <%- include('../../partials/option', {value: 'Condition *', placeholder: 'Condition *', name: 'type', disabled: "disabled", selected: false}) %>
                            <%- include('../../partials/option', {value: 'New with tags (Never worn, tags attached)', placeholder: 'New', name: 'condition', selected: false}) %>
                            <%- include('../../partials/option', {value: 'Excellent (Worn just a few times, looks as new)', placeholder: 'Excellent', name: 'condition', selected: false}) %>
                            <%- include('../../partials/option', {value: 'Very Good (Worn, but still looks great)', placeholder: 'Very Good', name: 'condition', selected: false}) %>
                            <%- include('../../partials/option', {value: 'Good (Found tiny flaws, which I noted in my listing and made visible in my pictures)', placeholder: 'Good', name: 'condition', selected: false}) %>
                            <%- include('../../partials/option', {value: 'Satisfactory (It has some flaws, all noted in the description and visible in pics)', placeholder: 'Satisfactory', name: 'condition', selected: false}) %>
                            
                    </select>
                    <br>
                    <textarea name="description" form="submit-pic-form" class = 'form-control border-pink' id = "descriptionArea" placeholder = "Enter description here... (optional)"></textarea>                    
                </div>
            
                <div class='form-group form-inline pl-3 pr-3'>
                    <%- include('../../partials/input', {name: 'photo-upload', classes: 'form-control border-pink', type: 'file', id: '', placeholder: 'Photo', min: '', max: '', required: true, value: ''}) %>
                </div>

                <div class='form-group form-inline pl-3 pr-3'>
                    <button type="submit" class="btn btn-pink btn-primary text-center" >Create Post</button>
                </div>
            </div>
        </form>
        <script>
            //Description text box will 
            $(function(){
    
                $('#descriptionArea').data('holder',$('#descriptionArea').attr('placeholder'));
    
                $('#descriptionArea').focusin(function(){
                $(this).attr('placeholder','');
                });
                $('#descriptionArea').focusout(function(){
                    $(this).attr('placeholder',$(this).data('holder'));
                });
    
    
            })
            
            </script>

        <% include ../../partials/footer %>
    </body>
</html>
